body {
    margin: 0 !important;
    height: 100vh;
    background: rgb(121,255,80);
    background: linear-gradient(150deg, rgba(121,255,80,1) 0%, rgba(255,88,88,1) 73%, rgba(251,255,94,1) 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 7%;
    -webkit-box-shadow: 10px 10px 20px -6px rgba(46,45,46,1);
    -moz-box-shadow: 10px 10px 20px -6px rgba(46,45,46,1);
    box-shadow: 10px 10px 20px -6px rgba(46,45,46,1);
}

#assets-header {
    font-size: 28px;
    font-weight: 500;
    color: rgb(30, 209, 30);
}

.btn-group {
    margin: 2%;
}

.btn-group button {
    margin-right: 15px;
    margin-left: 15px;
}